.vscode/launch.json
.vscode/tasks.json
RockPaper/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
RockPaper/obj/Debug/net5.0/RockPaper.AssemblyInfo.cs
RockPaper/obj/Debug/net5.0/RockPaper.AssemblyInfoInputs.cache
RockPaper/obj/Debug/net5.0/RockPaper.csproj.AssemblyReference.cache
RockPaper/obj/Debug/net5.0/RockPaper.GeneratedMSBuildEditorConfig.editorconfig
WackAMole/bin/Debug/net5.0/whack_a_mole.deps.json
WackAMole/bin/Debug/net5.0/whack_a_mole.dll
WackAMole/bin/Debug/net5.0/whack_a_mole.exe
WackAMole/bin/Debug/net5.0/whack_a_mole.pdb
WackAMole/bin/Debug/net5.0/whack_a_mole.runtimeconfig.dev.json
WackAMole/bin/Debug/net5.0/whack_a_mole.runtimeconfig.json
WackAMole/bin/Debug/net5.0/ref/whack_a_mole.dll
WackAMole/obj/project.assets.json
WackAMole/obj/project.nuget.cache
WackAMole/obj/whack_a_mole.csproj.nuget.dgspec.json
WackAMole/obj/whack_a_mole.csproj.nuget.g.props
WackAMole/obj/whack_a_mole.csproj.nuget.g.targets
WackAMole/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WackAMole/obj/Debug/net5.0/apphost.exe
WackAMole/obj/Debug/net5.0/whack_a_mole.AssemblyInfo.cs
WackAMole/obj/Debug/net5.0/whack_a_mole.AssemblyInfoInputs.cache
WackAMole/obj/Debug/net5.0/whack_a_mole.assets.cache
WackAMole/obj/Debug/net5.0/whack_a_mole.csproj.AssemblyReference.cache
WackAMole/obj/Debug/net5.0/whack_a_mole.csproj.CoreCompileInputs.cache
WackAMole/obj/Debug/net5.0/whack_a_mole.csproj.FileListAbsolute.txt
WackAMole/obj/Debug/net5.0/whack_a_mole.dll
WackAMole/obj/Debug/net5.0/whack_a_mole.GeneratedMSBuildEditorConfig.editorconfig
WackAMole/obj/Debug/net5.0/whack_a_mole.genruntimeconfig.cache
WackAMole/obj/Debug/net5.0/whack_a_mole.pdb
WackAMole/obj/Debug/net5.0/ref/whack_a_mole.dll
